In [ ]:
# conda install -c conda-forge cx_Oracle
# pip install cx_Oracle

In [13]:
import cx_Oracle
import pandas as pd

##### 1. 접속계정으로 문 열고(dsn) 2. 허가받고(conn) 3. 싣고,실어나를수 있는 것(cursor) 4.SQL(앞뒤로 한칸씩 띄우고)

In [21]:
# 오라클 서버 연결 정보 : (주소, 포트번호, 서비스이름)
dsn = cx_Oracle.makedsn("localhost", 1521, "orcl")
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=orcl)))'

In [44]:
# 오라클 접속 정보 : (계정, 패스워드, 연결정보)
conn = cx_Oracle.connect("busan_06", "dbdb", dsn)
conn

In [45]:
# 쿼리를 실행할 객체 (서버 갔다오는 객체)
cursor = conn.cursor()
cursor

In [29]:
sql = """ SELECT *
            FROM cart """
sql

' SELECT *\n            FROM cart '

In [30]:
# execute 함수 = 실행요청
cursor.execute(sql)

In [50]:
#fetchall() = data 모두 가져오기
row = cursor.fetchall()
row

InterfaceError: not open

In [38]:
colname = cursor.description # list, tuple 형태(형태 중요!)
colname

[('CART_MEMBER', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 15, 15, None, None, 0),
 ('CART_NO', <cx_Oracle.DbType DB_TYPE_CHAR>, 13, 13, None, None, 0),
 ('CART_PROD', <cx_Oracle.DbType DB_TYPE_VARCHAR>, 10, 10, None, None, 0),
 ('CART_QTY', <cx_Oracle.DbType DB_TYPE_NUMBER>, 9, None, 8, 0, 0)]

In [46]:
cursor.close()

In [47]:
conn.close()

### 데이터 프레임 만들기

In [98]:
# 컬럼 뽑아오기
col =[]
for tp in colname:
    print(tp[0])
    col.append(tp[0])
col

CART_MEMBER
CART_NO
CART_PROD
CART_QTY

['CART_MEMBER', 'CART_NO', 'CART_PROD', 'CART_QTY']

In [99]:
# DataFrame 만들기 (pd.DataFrame(data, columns=[]))
pd.DataFrame(row, columns=col)

    CART_MEMBER        CART_NO   CART_PROD  CART_QTY
0          a001  2005040100001  P101000001         5
1          a001  2005040100001  P201000018        16
2          a001  2005040100001  P302000003         7
3          t001  2005040100002  P302000004         2
4          t001  2005040100002  P101000002         2
..          ...            ...         ...       ...
202        c001  2005072800003  P201000015         2
203        b001  2005072800004  P302000001         6
204        b001  2005072800004  P201000016        15
205        b001  2005072800004  P302000002         2
206        b001  2005072800004  P201000017         2

[207 rows x 4 columns]