In [42]:
""" 문제
전체회원의 2005년 4월 구매일자에 대한 구매수량의 합을 조회하세요
구매일자는 장바구니 테이블에서 주문번호 앞 8자리 입니다.
구매수량은 장비구니 테이블에서 수량을 의미합니다.
회원ID, 회원성명, 구매수량의 합 조회
구매수량이 없으면 0으로 처리
"""

'\n전체회원의 2005년 4월 구매일자에 대한 구매수량의 합을 조회하세요\n구매일자는 장바구니 테이블에서 주문번호 앞 8자리 입니다.\n구매수량은 장비구니 테이블에서 수량을 의미합니다.\n회원ID, 회원성명, 구매수량의 합 조회\n구매수량이 없으면 0으로 처리\n'

In [43]:
import cx_Oracle
import pandas as pd

In [84]:
""" 전역변수
### 오라클 DB 접속 함수 만들기
dsn = ""
conn = ""
cursor = ""

# 오라클 연결/접속/커서 얻기
def setOracleCon() :
    dsn = cx_Oracle.makedsn("localhost", 1521, "orcl")
    conn = cx_Oracle.connect("busan_06", "dbdb", dsn)
    cursor = conn.cursor()

# 오라클 커서 반납/접속 끊기
def closeOracle() :
    cursor.close()
    conn.close()
"""

In [ ]:
# 한빈
# # 오라클 서버 연결 정보 : (주소, 포트번호, 서비스이름)
# dsn = cx_Oracle.makedsn("localhost", 1521, "orcl")
# # 오라클 접속 정보 : (계정, 패스워드, 연결정보)
# conn = cx_Oracle.connect("busan_06", "dbdb", dsn)
# # 쿼리를 실행할 객체 (서버 갔다오는 객체)
# cursor = conn.cursor()

# sql = """ SELECT A.mem_id, A.mem_name, SUM(NVL(B.cart_qty,0)) as qtycnt
#   FROM member A LEFT OUTER JOIN cart B
#             ON (A.mem_id = B.cart_member
#             AND SUBSTR(B.cart_no,1,6) = '200504')
#  GROUP BY A.mem_id, A.mem_name
#  ORDER BY A.mem_id, A.mem_name """
# cursor.execute(sql)
# row = cursor.fetchall()
# colname = cursor.description

# cursor.close()
# conn.close()

In [ ]:
""" 함수
# 함수 만들기
def busan_06(sql):
    
    # 오라클 연결
    dsn = cx_Oracle.makedsn('localhost', 1521, service_name = 'orcl')
    conn = cx_Oracle.connect(user = 'busan_06', password = 'dbdb', dsn = dsn, encoding = 'utf-8')
    cur = conn.cursor()
    # SQL문
    sql = sql
    cur.execute(sql)
    # 행, 열 추출
    row = cur.fetchall()
    colname = cur.description
    # 연결 해제
    cur.close()
    conn.close()
    # 컬럼명 추출
    col = []

    for i in range(len(colname)):
        col.append(colname[i][0])
        
    # 데이터프레임 변환
    return pd.DataFrame(row, columns= col)"""

### 함수로 Oracle 연결

In [124]:
# 오라클 연결/접속/커서 얻기
def setDsn() : 
    return cx_Oracle.makedsn("localhost", 1521, "orcl")

def setConn(dsn) : 
    return cx_Oracle.connect("busan_06", "dbdb", dsn)

def setCursor(conn) : 
    return conn.cursor()

# 오라클 커서 반납/접속 끊기
def closeOracle(cursor, conn) :
    cursor.close()
    conn.close()

# 데이터 가져오기
def gerFetchAll(sql,cursor):
    cursor.execute(sql)
    return cursor.fetchall()

# 컬럼 가져오기
def getColumn(cursor):
    col =[]
    for tp in cursor.description:
        print(tp[0])
        col.append(tp[0])
    return col

# 데이터프레임 만들기
def getDataFrame(row,col):
    return pd.DataFrame(row,columns=col)

# 최종
def getAll(sql):
    dsn = setDsn()
    conn = setConn(dsn)
    cursor = setCursor(conn)
    row = gerFetchAll(sql,cursor)
    col = getColumn(cursor)
    closeOracle(cursor, conn)
    return getDataFrame(row,col)

In [115]:
sql = """ SELECT A.mem_id, A.mem_name, SUM(NVL(B.cart_qty,0)) as qtycnt
  FROM member A LEFT OUTER JOIN cart B
            ON (A.mem_id = B.cart_member
            AND SUBSTR(B.cart_no,1,6) = '200504')
 GROUP BY A.mem_id, A.mem_name
 ORDER BY A.mem_id, A.mem_name """

In [142]:
sql = """ SELECT * FROM buyer """

In [143]:
getAll(sql)

BUYER_ID
BUYER_NAME
BUYER_LGU
BUYER_BANK
BUYER_BANKNO
BUYER_BANKNAME
BUYER_ZIP
BUYER_ADD1
BUYER_ADD2
BUYER_COMTEL
BUYER_FAX
BUYER_MAIL
BUYER_CHARGER
BUYER_TELEXT

,BUYER_ID,BUYER_NAME,BUYER_LGU,BUYER_BANK,BUYER_BANKNO,BUYER_BANKNAME,BUYER_ZIP,BUYER_ADD1,BUYER_ADD2,BUYER_COMTEL,BUYER_FAX,BUYER_MAIL,BUYER_CHARGER,BUYER_TELEXT
0,P10101,삼성컴퓨터,P101,주택은행,123-456-7890,이건상,135-972,서울 강남구 도곡2동현대비젼21,1125호,02-522-7890,02-522-7891,samcom@samsung.co.kr,송동구,None
1,P10102,삼보컴퓨터,P101,제일은행,732-702-195670,김현우,142-726,서울 강북구 미아6동 행전빌딩,2712호,02-632-5690,02-632-5699,sambo@sambo.co.kr,None,None
2,P10103,현주컴퓨터,P101,국민은행,112-650-397811,심현주,404-260,인천 서구 마전동,157-899번지,032-233-7832,032-233-7833,hyunju@hyunju.com,강남구,None
3,P10201,대우전자,P102,농협,222-333-567890,강대우,702-864,대구 북구 태전동,232번지,053-780-2356,053-780-2357,daewoo@daewoo.co.kr,None,None
4,P10202,삼성전자,P102,외환은행,989-323-567898,박삼성,614-728,부산 부산진구 부전1동 동아빌딩,1708호,051-567-5312,051-567-5313,samsung@samsung.com,None,None
5,P20101,대현,P201,국민은행,688-323-567898,신대현,306-785,대전 대덕구 오정동 운암빌딩,508호,042-332-5123,042-332-5125,daehyun@daehyun.com,진대영,None
6,P20102,마르죠,P201,주택은행,123-777-7890,이마루,135-972,서울 강남구 도곡2동 현대비젼21,1211호,02-533-7890,02-533-5699,mar@marjo.co.kr,조현상,None
7,P20201,LG패션,P202,제일은행,732-702-556677,김애지,142-726,서울 강북구 미아6동 행전빌딩,5011호,02-332-5690,02-332-5699,lgfashion.co.kr,남지수,None
8,P20202,캠브리지,P202,국민은행,112-888-397811,안불이주,404-260,인천 서구 마전동,535-899번지,032-255-7832,032-255-7833,cambrige@cambrige.com,신일수,None
9,P30101,가파치,P301,농협,211-333-511890,김선아,702-864,대구 북구 태전동,555-66호,053-535-2356,053-535-2357,gapachi@gapachi.co.kr,이수나,None
10,P30201,한국화장품,P302,외환은행,333-355-568898,박한국,614-728,부산 부산진구 부전1동 동아빌딩,309호,051-212-5312,051-212-5313,hangook@hangook.com,None,None
11,P30202,피리어스,P302,국민은행,677-888-569998,신상우,306-785,대전대덕구 오정동 운암빌딩,612호,042-222-5123,042-222-5125,pieoris@pieoris.com,이진영,None
12,P30203,참존,P302,주택은행,555-777-567778,오참존,306-785,대전대덕구 오정동 운암빌딩,1007호,042-622-5123,042-622-5125,chamjon@chamjon.com,None,None